#wrap #header h1 {background-color: yellow; text-align: center; height:200px;}
#wrap #section { background-color: cornflowerblue; color:#ffffff}
#wrap #footer { background-color: coral; height:100px; text-align:center;}
